fieldset
    
    .form-top
        .form-top-left
            h3 Step 4 / 4 ADDITIONALTRANSFEROR(S)/SELLER(S)
            p The Assessor may contact you for additional information.
    
    .form-bottom  
    
        .row
            .col-md-6
                .input-group
                    label Name
                    input.form-control
                    input.form-control
                    input.form-control
                    input.form-control
                        
            .col-md-6
                .input-group
                    label Relationship
                    input.form-control
                    input.form-control
                    input.form-control
                    input.form-control
    
                    
        .row
            .col-md-6
                .input-group-lg
                    label Print Your Name
                    input.form-control
                
            .col-md-6
                .input-group-lg
                    label Date
                    input.form-control
                
            .container(style="width: auto; margin-top: 10px")   
                button.btn.btn-previous.pull-left(type='button', style="width: auto; margin-top: 10px") Previous
                button.btn.btn-next.pull-right(type='button', style="width: auto; margin-top: 10px") Next
