fieldset
    
    .form-top
        .form-top-left
            h3 Step 3 / 4 Additional Transferors(s)/seller(s)
            p The Assessor may contact you for additional information.
    
    .form-bottom  
    
        .row
            .col-md-4    
                .input-group-lg
                    label Name
                    input.form-control
                    input.form-control
                    input.form-control
                    input.form-control    
            .col-md-4    
                .input-group-lg
                    label Social Security Number
                    input.form-control
                    input.form-control
                    input.form-control
                    input.form-control
            .col-md-4    
                .input-group-lg
                    label Relationship
                    input.form-control
                    input.form-control
                    input.form-control
                    input.form-control
                    
        .row
            .container(style="width: auto; margin-top: 10px")   
                button.btn.btn-previous.pull-left(type='button') Previous
                button.btn.btn-next.pull-right(type='button') Next
