fieldset
  .form-top
    .form-top-left
      h3 Step 3 / 3
      p Social media profiles:
    .form-top-right
      i.fa.fa-twitter
  .form-bottom
    .form-group
      label.sr-only(for='form-facebook') Facebook
      input#form-facebook.form-facebook.form-control(type='text', name='form-facebook', placeholder='Facebook...')
    .form-group
      label.sr-only(for='form-twitter') Twitter
      input#form-twitter.form-twitter.form-control(type='text', name='form-twitter', placeholder='Twitter...')
    .form-group
      label.sr-only(for='form-google-plus') Google plus
      input#form-google-plus.form-google-plus.form-control(type='text', name='form-google-plus', placeholder='Google plus...')
    button.btn.btn-previous(type='button') Previous
    button.btn(type='submit') Sign me up!
