fieldset
  .form-top
    .form-top-left
      h3 Step 1 / 3 Property
      p Fill out the following information about your property:
    .form-top-right
      i.fa.fa-user
  .form-bottom
    each field in A
      .form-group.input-group-lg
        label.sr-only #{field}
        input.form-control(type='text', placeholder='#{field}')
    button.btn.btn-next(type='button') Next
