fieldset
  .form-top
    .form-top-left
      h3 Step 1 / 3
      p Tell us who you are:
    .form-top-right
      i.fa.fa-user
  .form-bottom
    .form-group
      label.sr-only(for='form-first-name') First name
      input#form-first-name.form-first-name.form-control(type='text', name='form-first-name', placeholder='First name...')
    .form-group
      label.sr-only(for='form-last-name') Last name
      input#form-last-name.form-last-name.form-control(type='text', name='form-last-name', placeholder='Last name...')
    .form-group
      label.sr-only(for='form-about-yourself') About yourself
      textarea#form-about-yourself.form-about-yourself.form-control(name='form-about-yourself', placeholder='About yourself...')
    button.btn.btn-next(type='button') Next
