extends _layout
block main
    .top-content
        .inner-bg
            .container
                .row.text
                    h1 CLAIM FOR REASSESSMENT EXCLUSION FOR TRANSFER BETWEEN PARENT AND CHILD
                
                .row
                    .col-sm-8.col-sm-offset-2.form-box
                        form.registration-form(role='form', action='', method='post')
                            include steps/step-1.jade
                            include steps/step-2.jade
                            include steps/step-3.jade
                            include steps/step-4.jade
